html, body {
	margin: 0;
	padding: 0;
}

.timeline {
	position: fixed;
	top: 50%;
	right: 0;
	width: 80px;
	height: 180px;
	transform: translate(0, -50%);
}

.timeline-base {
	position: absolute;
	right: 37px;
	width: 7px;
	height: 180px;
	background-color: blue;
}

.timeline-arrow_up {
	position: absolute;
	top: 3px;
	right: 24px;
	width: 30px;
	height: 30px;
	border-top: 3px solid blue;
	border-left: 3px solid blue;
	transform: rotateZ(45deg);
}

.timeline-arrow_down {
	position: absolute;
	bottom: 3px;
	right: 24px;
	width: 30px;
	height: 30px;
	border-right: 3px solid blue;
	border-bottom: 3px solid blue;
	transform: rotateZ(45deg);
}

.timeline-node {
	position: absolute;
	right: 30px;
	width: 20px;
	height: 20px;
	background-color: blue;
	border-radius: 360px;
}

.timeline-node.node_01 {
	top: 20px;
}

.timeline-node.node_02 {
	top: 60px;
}

.timeline-node_popup.hidden {
	display: none;
}

.floaty_header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	display: flex;
	background-color: #3c3cb7;
}

.header-button {
	flex: 1;
	text-align: center;
}

.header-button:hover {
	background-color: #dfdfdf;
}

.header-button:hover a {
	color: #3c3cb7;
}

.header-button a {
	height: 100%;
	display: block;
	color: #fff;
	text-decoration: none;
}

.header-button a::before {
	width: 0;
	height: 100%;
	display: inline-block;
	content: '';
	vertical-align: middle;
}


.header-button a span {
	vertical-align: middle;
}

.main_image {
	margin-top: 60px;
	background-color: #4694b5;
}

.main_image img {
	width: 100%;
	max-width: 1920px;
}